.main_logo{
    width: 100px;
    float: right;
}

.page-header{
    background-color: #eee;
    margin: 0;
}

.page-header .quote{
    color: #656565;
    font-size: 16px;
    padding-left: 10%;
}

.head_title a{
    text-decoration: none;
}