.main_logo{
    width: 100px;
    float: right;
}

.page-header{
    background-color: #eee;
    margin: 0;
}

.page-header .quote{
    color: #656565;
    font-size: 16px;
    padding-left: 10%;
}

.head_title a{
    text-decoration: none;
}

.content{
    margin-top: 30px;
}

.cont_usr_text{
    width: 40%;
    float: left;
}

.cont_res_text{
    width: 40%;
    float: right;
    height: 215px;
    background-color: #eee;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: scroll;
}

.cont_textarea{
    margin-top: 30px;
}

.cont_middle button{
    width: 100%;
}

.cont_middle .rot{
    width: 50%;
    margin: 20px 0;
    text-align: center;
}

.cont_middle .rot_label{
    width: 100%;
}

.transit{
    color: green;
}

.encrypt{
    color: tomato;
}

.alert-success{
    margin-top: 20px;
}